doctype html
head
    // Required meta tags
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    // Title Page
    title TIEM CHUNG AN BINH ADMIN
    // Icons font CSS
    link(href='mdi-font/css/material-design-iconic-font.min.css' rel='stylesheet' media='all')
    link(href='font-awesome-4.7/css/font-awesome.min.css' rel='stylesheet' media='all')
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous")
    link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.8.2/css/all.css' integrity='sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay' crossorigin='anonymous')
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
    script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous")
    link(rel="preconnect" href="https://fonts.gstatic.com")
    link(href="https://fonts.googleapis.com/css2?family=Caveat:wght@600&display=swap" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet")
    // Font special for pages
    link(href='https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i' rel='stylesheet')
    // Vendor CSS
    link(href='select2/select2.min.css' rel='stylesheet' media='all')
    link(href='datepicker/daterangepicker.css' rel='stylesheet' media='all')
    // Main CSS
    link(href='dangkytiemchung.css' rel='stylesheet')
    link(rel="stylesheet" href="indexStyle.css" )
.container-fluid.row.mainNavBar.fixed-top.w-100.navbar-expand-lg
    //Navbar
    .col-2.d-flex.justify-content-center
        a(href="/adminDashboard")
            img(src="logo.png" alt="AN BINH logo" width="50" height="50")
    .col-7.d-flex.justify-content-center
        h1 HỆ THỐNG TIÊM CHỦNG AN BÌNH
    .col-3.d-flex.justify-content-center
        ul(id="nav-list").nav.align-items-center
            if user
                li.nav-item.dropdown
                    a(class="contact" href="#")= user.userName
                    div(class="dropdown-content")
                        a(class="dropdown-item" href="/logOut") ĐĂNG XUẤT
            else
                li.nav-item
                    a(class="contact" href="/logIn") ĐĂNG NHẬP
                li.nav-item
                    a(class="contact" href="/signUp") ĐĂNG KÝ      
        div.col-12(id="search-bar")
            i(class="fas fa-search fa-lg" onclick="myFunction()")
            input(type="text" id="searchBar" placeholder="Search Here ..... !")
            div(id="search_List")
                ul(id="dishesList")
.page-wrapper.bg-blue.p-t-100.p-b-100.font-robo
    .wrapper.wrapper--w780
        .card.card-1
            .card-heading.d-flex.justify-content-center
                .img-container
                    img(src="logo.png" alt="AN BINH logo" width="300" height="300")
            .card-body
                h2.title DANH SÁCH ĐĂNG KÝ MUA VACCINE
                <table class="table">
                    <thead>
                        <tr>
                        <th scope="col">STT</th>
                        <th scope="col">Mã đơn đăng ký</th>
                        <th scope="col">Mã khách hàng</th>
                        <th scope="col">Tên khách hàng</th>
                        <th scope="col">Tên Vaccine</th>
                        <th scope="col">Tình trạng</th>
                        </tr>
                    </thead>
                        <tbody>
                            if vaccine
                                - var n = 0;
                                each value in vaccine
                                    <tr>
                                        th(scope="row")=n+1
                                        td=vaccine[n]._id
                                        td=vaccine[n].userId
                                        td=vaccine[n].user
                                        td=vaccine[n].vaccineName
                                        if vaccine[n].status === 0
                                            td='Chưa xác nhận'
                                        else
                                            td='Đã xác nhận'
                                        td 
                                            button.btn.btn--radius.btn--green(type='submit') XÁC NHẬN
                                        td 
                                            button.btn.btn--radius.btn--red(type='submit') HUỶ
                                    </tr>
                                    -n++;
                        </tbody>
                    </table>
.footer
    .container-fluid.row 
        .col-6
            h4 TIÊM CHỦNG AN BÌNH
            .title-line 
            p Pellentesque mi purus, eleifend sedt commodo vel, sagittis elts vestibulum dui sagittis mlste sagittis elts.
            ul.address-info 
                li
                    <i class="fas fa-map-marker-alt"></i>   15 Barnes Wallis Way, 358744, USA
                li 
                    <i class="fas fa-phone"></i>    +1 (012) 345 6789 
                li
                    <i class="fas fa-envelope"></i>   info@yourdomain.com
        .col-6 
            h4 Twitter Feed!
            .title-line 
            ul.customer-sp
                li 
                    <i class="fas fa-angle-right"></i> 
                        a(href="#") Customer Support
                li 
                    <i class="fas fa-angle-right"></i> 
                        a(href="#") Documentation
                li 
                    <i class="fas fa-angle-right"></i> 
                        a(href="#") Developer Center
                li 
                    <i class="fas fa-angle-right"></i> 
                        a(href="/FAQs") General FAQs
.container-fluid.Copyright.row
    .col-6.copyRight-title
        h5 Copyright © 2022 NHOM-4 ON THE MIC. All rights reserved.
    .col-6
        ul.social-list 
            li.social-app
                <i class="fab fa-facebook-square fa-3x"></i>
            li.social-app
                <i class="fab fa-instagram fa-3x"></i>
            li.social-app
                <i class="fab fa-youtube fa-3x"></i>
            li.social-app
                <i class="fab fa-twitter-square fa-3x"></i>
// Jquery JS
script(src='jquery/jquery.min.js')
// Vendor JS
script(src='select2/select2.min.js')
script(src='datepicker/moment.min.js')
script(src='datepicker/daterangepicker.js')
// Main JS
script(src='js/global.js')
// This templates was made by Colorlib (https://colorlib.com)
// end document
